<h1 id="hello">Open slots and Commands</h1>


<div class="g--centered g--half">

</div>
<div class="clear">
  <div class="g--third">
    <h3 class="color--blue">Blue Team:</h3>
    <p><i class="color--blue">JS: </i>{{ room.blue.js.twitch }}</p>
    <p><i class="color--blue">HTML: </i>{{ room.blue.html.twitch }}</p>
    <p><i class="color--blue">CSS: </i>{{ room.blue.css.twitch }}</p>
  </div>
  <div class="g--third">
    <h3>Commands:</h3>
    <ul>
      <li>!join [position] [c9 username]</li>
      <li>!kick [team color] [position]</li>
    </ul>
  </div>
  <div class="g--third g--last">
    <h3 class="color--red">Red Team:</h3>
    <p><i class="color--red">JS: </i>{{ room.red.js.twitch }}</p>
    <p><i class="color--red">HTML: </i>{{ room.red.html.twitch }}</p>
    <p><i class="color--red">CSS: </i>{{ room.red.css.twitch }}</p>
  </div>

</div>


